.classpath
.project
.settings
.springBeans
target
.idea
*.iml
*.ids
*.ipr
*.iws
npm-debug.log
node_modules
src/main/webapp/WEB-INF/bower_components
src/main/webapp/WEB-INF/dist
.tmp
.sass-cache
*.swp
src/main/resources/git.properties
.DS_Store
sensitive